KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
KEYCLOAK_USERNAME=admin
KEYCLOAK_PASSWORD=admin
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpass
DB_USERNAME=stonemark
DB_PASSWORD=stonemark
MAIL_ADDRESS=
MAIL_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET_KEY=
TELEGRAM_BOT_TOKEN=
VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_FROM_NUMBER=
WHATSAPP_BOT_TOKEN=