KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
KEYCLOAK_USERNAME=admin
KEYCLOAK_PASSWORD=admin
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/stonemark
KEYCLOAK_JWK_SET_URI=http://localhost:8081/realms/stonemark/protocol/openid-connect/certs
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpass
DB_USERNAME=stonemark
DB_PASSWORD=stonemark
MAIL_ADDRESS=
MAIL_PASSWORD=
TELEGRAM_BOT_TOKEN=
WHATSAPP_BOT_TOKEN=