MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpass
DB_USERNAME=stonemark
DB_PASSWORD=stonemark
MAIL_ADDRESS=
MAIL_PASSWORD=
TELEGRAM_BOT_TOKEN=
WHATSAPP_BOT_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SAS_ISSUER=http://localhost:8080
